<div id="explainer" class="explainer">
  <div class="explainer-text">
    <strong>
      Guide your mood and
      <br />
      discover new songs
    </strong>
    <ul class="explainer-list">
      <li>Choose from songs and moods to begin and end your playlist</li>
      <li>Click "Create Playlist" and let waveguide find a path</li>
      <!-- <li>Wave Guide will find a path from the beginning to destination, helping you discover new songs that match your tastes</li> -->
      <li>Listen on Spotify</li>
  </div>
  <div id="close-explainer" class="close-modal">&times;</div>
</div>
