<div id="explainer" class="explainer">
  <div class="explainer-text">
    <strong> Wave Guide creates personalized playlists.</strong>
    <br />
    <strong>
      Improve your mood, discover new songs, explore sound waves.
    </strong>
    <br /><br />
    1 - Search for songs or select from Wave Guide's moods
    <br />
    2 - Press Create Playlist
    <br />
    3 - Listen on Spotify <img src="static/images/spotify_icon.png" class="spotify-logo">
  </div>
  <div id="close-explainer" class="close-modal">&times;</div>
</div>
