{% macro explainer(show_close_button=true) %}
<div id="explainer" class="explainer">
  <div class="explainer-text">
    <strong>
      Guide your mood
      <br />
      and discover new songs
    </strong>
    <ul class="explainer-list">
      <li>Choose from songs and moods to begin and end your playlist</li>
      <li>Click "Create Playlist" and let waveguide find a path</li>
      <li>Listen on Spotify</li>
    </ul>
  </div>
  {% if show_close_button %}
  <div id="close-explainer" class="close-explainer">&times;</div>
  {% endif %}
</div>
{% endmacro %}
