<div id="explainer" class="explainer">
  <div class="explainer-text">
    <strong>
      Guide your mood and discover new songs through personalized playlists
    </strong>
    <ul class="explainer-list">
      <li>Choose from songs and moods for the beginning and destination of your playlist</li>
      <li>Click Create Playlist</li>
      <li>Wave Guide will find a path from the beginning to destination, helping you discover new songs that match your tastes</li>
      <li>Listen to your new playlist on Spotify <img src="static/images/spotify_icon.png" class="spotify-logo"></li>
  </div>
  <div id="close-explainer" class="close-modal">&times;</div>
</div>
