{% macro track_input_card(location, initialMode) %}
<!-- location is one of: "source", "destination" -->
<div class="track-input-card">
  <div id="{{ location }}-mode-selector" class="mode-selector">
    <label class="radio-label">
      <input type="radio" 
             name="{{ location }}-mode" 
             value="song" 
             {% if initialMode == 'song' %}checked{% endif %}
      >
      Song
    </label>
    <label class="radio-label">
      <input type="radio" 
             name="{{ location }}-mode" 
             value="mood"
             {% if initialMode == 'mood' %}checked{% endif %}
      >
      Mood
    </label>
  </div>
  <div id="{{ location }}-inputs-container" class="search-input-container" >
    <input
      type="text"
      id="{{ location }}-autocomplete-input"
      name="query"
      class="search-input"
      placeholder="Search for a song"
      {% if location == "source" %}autofocus{% endif %}
      {% if initialMode == "mood" %}style="display:none"{% endif %}
    />
    <ul
      id="{{ location }}-search-results-list"
      class="search-results-list"
      style="display: none"
    ></ul>
    <select 
      id="{{ location }}-mood-select" 
      class="mood-input"
      {% if initialMode == "song" %}style="display:none"{% endif %}
    >
      <option disabled selected value>
        Select a mood
      </option>
      <option value="Happy">Happy</option>
      <option value="Energized">Energized</option>
      <option value="Calm">Calm</option>
    </select>
  </div>
  <div id="{{ location }}-selected-result" class="selected-track-container">
    <div id="{{ location }}-selected-result-placeholder">
      <div class="placeholder-thumbnail"></div>
      <div class="placeholder-track-info">
        <div class="placeholder-title"></div>
        <div class="placeholder-artist"></div>
      </div>
    </div>
    <div id="{{ location }}-selected-song" style="display: none;"></div>
    <div id="{{ location }}-selected-mood" style="display: none;"></div>
  </div>
</div>
{% endmacro %}